@model IEnumerable<Sprint16.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supermarkets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.Fname)
                    @Html.DisplayFor(modelItem => item.Customers.Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supermarkets.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> | @* change here action to index to pal with this *@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* ----------------------------------------------------------------------------------------- *@
@* It`s a tempalte *@

@* <h2>Order Details</h2>

<table class="table">

    <thead>
        <tr>
            <th>
                Products
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                @foreach (var details in order.OrderDetails)
                {

                    <td>
                        @Html.DisplayFor(modelItem => details.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => details.Quantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@details.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@details.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table> *@