@page
@model Sprint16.Models.OrderDetails

<h1>View</h1>

@*--------------------------------------------------------*@
<h3>Order Details</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Products
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
            <tr >
                <td> @Model.Product.Name</td>
                @* <td>
                    @Html.ActionLink("Select", "Index", new { id = item.OrderId })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Product)
                    @Html.DisplayFor(model => item.Quantity)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Index", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td> *@
            </tr>
    </tbody>
</table>
